/* 
    Document   : ejrst_custom.css
    Created on : Jul 15, 2012, 5:03:41 PM
    Author     : mark
    Description:
        Purpose of the stylesheet follows.
*/

#edit-field-article-co-authors-und {
  max-height: 200px;
  overflow-y: scroll;
  width: auto;
}

.articles-in-issue-title {
  margin-top: 40px;
  font-size: 1.3em;
}

.view-issues-in-journal .views-row {
  padding: 20px;
  border-bottom: 1px solid gray;
}

.view-issues-in-journal .views-field-title {
  font-size: 1.1em;
}

